# This file is used to set global values for the CI environment in the Helm chart.
# It includes AWS configurations, S3 settings, KMS, ECR, RDS,
# --global configuration for CI environment

# Global settings
global:
  org: "org"
  env: "test"
  cluster:
    name: "cluster-name"
  network:
    domain: "example.com"

commonLabels:
  env: "ci-test"
  team: "devops"
  project: "shared"

aws:
  enabled: true
  account: "00000000000"
  region: "eu-central-2"
  eksOidcId: "0000000000000000000000"

  s3:
    enabled: true
    lifeCycleConfiguration:
      enabled: false
    versioning:
      enabled: false
    corsConfiguration:
      enabled: false
    bucketWebsiteConfiguration:
      enabled: false
    bucketPublicAccessBlock:
      enabled: false

  kms:
    enabled: false

  sns:
    enabled: false
    sms:
      enabled: false
      defaultSMSType: Transactional
      defaultSenderID: MTGATEWAY
      monthlySpendLimit: 50

  ecr:
    enabled: true
    repoNames: []
    accountAccessList:
      - "000000000001"
      - "000000000002"
      - "000000000003"

  # rds:
  #   enabled: false
  rds:
    enabled: true
    dbName: credentialServices
    passwordSecretRef:
      name: kvv-ci-infra
      key: DB_PASSWORD
      namespace: ci

  cdn:
    enabled: false

  ses:
    enabled: false
    identityNameOverride: ""
    domainNameOverride: ""
    dkim:
      enabled: true
      keyLength: RSA_1024_BIT
    mailFromBehavior: UseDefaultMailFrom
    additional_tags: {}

  sqs:
    enabled: true
    fifo: true

  cognito:
    userpool:
      enabled: false
      signInIdentifiers: []
      enableSelfRegistration: false
      requiredAttributes: []
      callbackUrls: []
      logoutUrls: []
      authentication:
        email:
          enabled: false
          provider: COGNITO_DEFAULT
          sesRegion: eu-central-2
          fromEmailAddress: ""
          fromSenderName: ""
          replyToEmailAddress: ""
          sesConfigurationSet: ""
        phoneNumber:
          enabled: false
          snsRegion: eu-central-2
          fromPhoneNumber: ""
      groups: []
      passwordPolicy:
        minimumLength: 12
        requireLowercase: true
        requireUppercase: true
        requireNumbers: true
        requireSymbols: true
        temporaryPasswordValidityDays: 7
      mfaConfiguration: "OFF"

# ExternalSecrets configuration
externalSecrets:
  enabled: true
  secrets:
    - DB_PASSWORD
