{{- if and .Values.aws.dynamodb.enabled (default true .Values.aws.enabled) }}
{{ include "infra.checkAwsMandates" . }}
{{- range .Values.aws.dynamodb.tables }}
---
apiVersion: {{ include "infra.dynamodbApiVersion" $ }}
kind: Table
metadata:
  name: {{ .nameOverride | default .name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    crossplane.io/external-name: {{ .nameOverride | default .name }}
  labels:
    app.kubernetes.io/name: {{ include "infra.releaseName" $ }}
    app.kubernetes.io/instance: {{ include "infra.releaseName" $ }}
    app.kubernetes.io/version: {{ $.Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ $.Release.Service | quote }}
    helm.sh/chart: {{ printf "%s-%s" $.Chart.Name ($.Chart.Version | replace "+" "_") }}
spec:
  forProvider:
    region: {{ $.Values.aws.region | quote }}
    {{- if .attribute }}
    attribute:
{{ toYaml .attribute | indent 4 }}
    {{- end }}
    {{- if .hashKey }}
    hashKey: {{ .hashKey | quote }}
    {{- end }}
    {{- if .rangeKey }}
    rangeKey: {{ .rangeKey | quote }}
    {{- end }}
    billingMode: {{ .billingMode | default "PAY_PER_REQUEST" | quote }}
    {{- if and (ne (.billingMode | default "PAY_PER_REQUEST") "PAY_PER_REQUEST") .readCapacity }}
    readCapacity: {{ .readCapacity | int }}
    {{- end }}
    {{- if and (ne (.billingMode | default "PAY_PER_REQUEST") "PAY_PER_REQUEST") .writeCapacity }}
    writeCapacity: {{ .writeCapacity | int }}
    {{- end }}
    {{- if and (eq (.billingMode | default "PAY_PER_REQUEST") "PAY_PER_REQUEST") .onDemandThroughput }}
    onDemandThroughput:
      {{- if .onDemandThroughput.maxReadRequestUnits }}
      maxReadRequestUnits: {{ .onDemandThroughput.maxReadRequestUnits | int }}
      {{- end }}
      {{- if .onDemandThroughput.maxWriteRequestUnits }}
      maxWriteRequestUnits: {{ .onDemandThroughput.maxWriteRequestUnits | int }}
      {{- end }}
    {{- end }}
    {{- if .globalSecondaryIndex }}
    globalSecondaryIndex:
{{ toYaml .globalSecondaryIndex | indent 4 }}
    {{- end }}
    {{- if .localSecondaryIndex }}
    localSecondaryIndex:
{{ toYaml .localSecondaryIndex | indent 4 }}
    {{- end }}
    {{- if (default true .deletionProtectionEnabled) }}
    deletionProtectionEnabled: {{ .deletionProtectionEnabled | default true }}
    {{- end }}
    {{- if .tableClass }}
    tableClass: {{ .tableClass | default "STANDARD" | quote }}
    {{- end }}
    {{- if .serverSideEncryption }}
    {{- if (default false .serverSideEncryption.enabled) }}
    serverSideEncryption:
      enabled: {{ .serverSideEncryption.enabled }}
      {{- if .serverSideEncryption.kmsKeyArn }}
      kmsKeyArn: {{ .serverSideEncryption.kmsKeyArn | quote }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- if (default false .streamEnabled) }}
    streamEnabled: {{ .streamEnabled }}
    {{- end }}
    {{- if and (default false .streamEnabled) .streamViewType }}
    streamViewType: {{ .streamViewType | default "NEW_AND_OLD_IMAGES" | quote }}
    {{- end }}
    tags:
{{ include "infra.allTags" (dict "Values" $.Values "section" $.Values.aws.dynamodb) | indent 6 }}
    {{- if .ttl }}
    {{- if or .ttl.attributeName .ttl.enabled }}
    ttl:
      {{- if .ttl.attributeName }}
      attributeName: {{ .ttl.attributeName | quote }}
      {{- end }}
      {{- if .ttl.enabled }}
      enabled: {{ .ttl.enabled }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- if .streamSpecification }}
    streamSpecification:
{{ toYaml .streamSpecification | indent 6 }}
    {{- end }}
    {{- if .pointInTimeRecoverySpecification }}
    pointInTimeRecoverySpecification:
{{ toYaml .pointInTimeRecoverySpecification | indent 6 }}
    {{- end }}
    {{- if .pointInTimeRecovery }}
    {{- if (default false .pointInTimeRecovery.enabled) }}
    pointInTimeRecovery:
      enabled: {{ .pointInTimeRecovery.enabled }}
    {{- end }}
    {{- end }}
    {{- if .replica }}
    {{- if (default false .replica.enabled) }}
    {{- if .replica.regions }}
    replica:
    {{- range .replica.regions }}
    - regionName: {{ .regionName | quote }}
      {{- if .propagateTags }}
      propagateTags: {{ .propagateTags }}
      {{- end }}
      {{- if .pointInTimeRecovery }}
      pointInTimeRecovery: {{ .pointInTimeRecovery }}
      {{- end }}
      {{- if .kmsKeyArn }}
      kmsKeyArn: {{ .kmsKeyArn | quote }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if .restoreOptions }}
    {{- if (default false .restoreOptions.enabled) }}
    {{- if .restoreOptions.useLatestRestorableTime }}
    restoreToLatestTime: {{ .restoreOptions.useLatestRestorableTime }}
    {{- end }}
    {{- if .restoreOptions.restoreDateTime }}
    restoreDateTime: {{ .restoreOptions.restoreDateTime | quote }}
    {{- end }}
    {{- if .restoreOptions.sourceTableArn }}
    restoreSourceTableArn: {{ .restoreOptions.sourceTableArn | quote }}
    {{- end }}
    {{- end }}
    {{- end }}
    {{- if .importTable }}
    {{- if (default false .importTable.enabled) }}
    importTable:
      {{- if .importTable.inputFormat }}
      inputFormat: {{ .importTable.inputFormat | quote }}
      {{- end }}
      {{- if .importTable.inputCompressionType }}
      inputCompressionType: {{ .importTable.inputCompressionType | quote }}
      {{- end }}
      {{- if .importTable.inputFormatOptions }}
      inputFormatOptions:
{{ toYaml .importTable.inputFormatOptions | indent 8 }}
      {{- end }}
      {{- if .importTable.s3BucketSource }}
      s3BucketSource:
        {{- if .importTable.s3BucketSource.bucket }}
        bucket: {{ .importTable.s3BucketSource.bucket | quote }}
        {{- end }}
        {{- if .importTable.s3BucketSource.bucketOwner }}
        bucketOwner: {{ .importTable.s3BucketSource.bucketOwner | quote }}
        {{- end }}
        {{- if .importTable.s3BucketSource.keyPrefix }}
        keyPrefix: {{ .importTable.s3BucketSource.keyPrefix | quote }}
        {{- end }}
      {{- end }}
      {{- if .importTable.tableCreationParameters }}
      tableCreationParameters:
{{ toYaml .importTable.tableCreationParameters | indent 8 }}
      {{- end }}
    {{- end }}
    {{- end }}
  providerConfigRef:
    name: {{ include "infra.getProviderConfigRefName" (dict "Values" $.Values "section" "dynamodb") | quote }}
{{- end }}
{{- end }}