{{- if and (.Values.aws.enabled | default true) .Values.aws.kms.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: {{ include "infra.kmsApiVersion" . }}
kind: Key
metadata:
  name: {{ include "infra.kmsKeyName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.kmsKeyName" . }}
spec:
  forProvider:
    region: {{ .Values.aws.region | quote }}
    tags:
{{ include "infra.allTags" (dict "Values" .Values "section" .Values.aws.kms) | indent 6 }}
    deletionWindowInDays: {{ .Values.aws.kms.deletionWindowInDays | default 365 }}
    description: {{ include "infra.kmsKeyName" . }}
    enableKeyRotation: {{ .Values.aws.kms.rotateKey | default false }}
  providerConfigRef:
    name: {{ .Values.aws.providerConfigRef.name | quote }}
{{- if .Values.aws.kms.alias.enabled }}
---
apiVersion: kms.aws.upbound.io/v1beta1
kind: Alias
metadata:
  name: {{ .Values.aws.kms.alias.name | default (include "infra.kmsKeyName" .) }}
  namespace: {{ .Release.Namespace }}
spec:
  providerConfigRef:
    name: {{ .Values.aws.providerConfigRef.name | quote }}
  forProvider:
    region: {{ .Values.aws.region | quote }}
    targetKeyIdRef:
      name: {{ include "infra.kmsKeyName" . }}
{{- end }}
{{- end }}
