{{- if and (.Values.aws.enabled | default true) .Values.aws.kms.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: {{ include "infra.kmsApiVersion" . }}
kind: Key
metadata:
  name: {{ include "infra.kmsKeyName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.kmsKeyName" . }}
spec:
  forProvider:
    region: {{ .Values.aws.region | quote }}

    {{- if .Values.aws.kms.signingEnabled }}

    # ---------- SIGNING MODE ----------
    keyUsage: {{ .Values.aws.kms.keyUsage | default "SIGN_VERIFY" }}
    customerMasterKeySpec: {{ .Values.aws.kms.keySpec | default "ECC_NIST_P256" }}
    enableKeyRotation: false

    {{- else }}

    # ---------- ENCRYPTION MODE ----------
    keyUsage: {{ .Values.aws.kms.keyUsage | default "ENCRYPT_DECRYPT" }}
    customerMasterKeySpec: {{ .Values.aws.kms.keySpec | default "SYMMETRIC_DEFAULT" }}
    enableKeyRotation: {{ .Values.aws.kms.enableKeyRotation | default true }}

    {{- end }}

    description: {{ include "infra.kmsKeyName" . }}
    deletionWindowInDays: {{ .Values.aws.kms.deletionWindowInDays | default 30 }}

    tags:
{{ include "infra.allTags" (dict "Values" .Values "section" .Values.aws.kms) | indent 6 }}

  providerConfigRef:
    name: {{ (.Values.aws.kms.providerConfigRef.name | default .Values.aws.providerConfigRef.name) | quote }}

{{- if .Values.aws.kms.alias.enabled }}
---
apiVersion: kms.aws.upbound.io/v1beta1
kind: Alias
metadata:
  name: {{ .Values.aws.kms.alias.name | default (include "infra.kmsKeyName" .) }}
  namespace: {{ .Release.Namespace }}
spec:
  providerConfigRef:
    name: {{ (.Values.aws.kms.providerConfigRef.name | default .Values.aws.providerConfigRef.name) | quote }}
  forProvider:
    region: {{ .Values.aws.region | quote }}
    targetKeyIdRef:
      name: {{ include "infra.kmsKeyName" . }}
{{- end }}

{{- end }}
