{{- if and (.Values.aws.enabled | default true) .Values.aws.sns.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: sns.aws.upbound.io/v1beta1
kind: Topic
metadata:
  name: {{ include "infra.snsTopicName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.snsTopicName" . }}
spec:
  forProvider:
    region: {{ .Values.aws.region | quote }}
    tags:
{{ include "infra.allTags" (dict "Values" .Values "section" .Values.aws.sns) | indent 6 }}
  providerConfigRef:
    name: {{ .Values.aws.providerConfigRef.name | quote }}
{{- end }}
...

{{- if and (.Values.aws.enabled | default true) .Values.aws.sns.enabled .Values.aws.sns.sms.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: sns.aws.upbound.io/v1beta1
kind: SMSPreferences
metadata:
  name: {{ include "infra.snsTopicName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.snsTopicName" . }}
spec:
  forProvider:
    region: {{ .Values.aws.sns.sms.region | default "eu-central-2" | quote }}
    attributes:
      DefaultSMSType: {{ .Values.aws.sns.sms.defaultSMSType | default "Transactional" | quote }}
      DefaultSenderID: {{ .Values.aws.sns.sms.defaultSenderID | default "MTGATEWAY" | quote }}
      MonthlySpendLimit: {{ .Values.aws.sns.sms.monthlySpendLimit | default "50" | quote }}
  providerConfigRef:
    name: {{ .Values.aws.providerConfigRef.name | quote }}
{{- end }}
