{{- if and (.Values.aws.enabled | default true) .Values.aws.sns.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: sns.aws.upbound.io/v1beta1
kind: Topic
metadata:
  name: {{ include "infra.snsTopicName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.snsTopicName" . }}
spec:
  forProvider:
    region: {{ .Values.aws.region | quote }}
    tags:
{{ include "infra.allTags" (dict "Values" .Values "section" .Values.aws.sns) | indent 6 }}
  providerConfigRef:
    name: {{ (.Values.aws.sns.providerConfigRef.name | default .Values.aws.providerConfigRef.name) | quote }}
{{- end }}

{{- if and (.Values.aws.enabled | default true) .Values.aws.sns.enabled .Values.aws.sns.sms.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: sns.aws.upbound.io/v1beta1
kind: SMSPreferences
metadata:
  name: {{ include "infra.snsTopicName" . }}-sms-preferences
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.snsTopicName" . }}-sms-preferences
spec:
  forProvider:
    region: {{ .Values.aws.region | default "eu-central-2" | quote }}
    defaultSmsType: {{ .Values.aws.sns.sms.defaultSMSType | default "Transactional" | quote }}
    defaultSenderId: {{ .Values.aws.sns.sms.defaultSenderID | default "MTGATEWAY" | quote }}
    monthlySpendLimit: {{ .Values.aws.sns.sms.monthlySpendLimit | default 50 }}
  providerConfigRef:
    name: {{ (.Values.aws.sns.providerConfigRef.name | default .Values.aws.providerConfigRef.name) | quote }}
{{- end }}
