{{- if and (.Values.aws.enabled | default true) .Values.aws.sqs.enabled }}
{{ include "infra.checkAwsMandates" . }}
---
apiVersion: sqs.aws.upbound.io/v1beta1
kind: Queue
metadata:
  name: {{ include "infra.sqsQueueName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    name: {{ include "infra.sqsQueueName" . }}
spec:
  providerConfigRef:
    name: {{ .Values.aws.providerConfigRef.name | quote }}
  forProvider:
    region: {{ .Values.aws.region | quote }}
    name: {{ include "infra.sqsQueueName" . }}
    fifoQueue: {{ .Values.aws.sqs.fifo | default false }}
    contentBasedDeduplication: {{ .Values.aws.sqs.contentBasedDeduplication | default false }}
    delaySeconds: {{ int .Values.aws.sqs.delaySeconds }}
    visibilityTimeoutSeconds: {{ int .Values.aws.sqs.visibilityTimeoutSeconds }}
    messageRetentionSeconds: {{ int .Values.aws.sqs.messageRetentionSeconds }} # 4 days
    tags:
{{ include "infra.allTags" (dict "Values" .Values "section" .Values.aws.sqs) | indent 6 }}
{{- end }}
